.serendipitySideBarItem,
.staticpage_navigation { margin-bottom: 20px; }

.serendipity_entry_extended { clear: both; }

.serendipity_pageFooter {
    margin-bottom: 1em;
    margin-top: 1em;
}

.serendipity_center {
    margin: 5px auto 10px;
    text-align: center;
}

.serendipity_msg_important {
    color: red;
    margin: 1em;
}
.serendipity_msg_notice {
    color: green;
    margin: 1em;
}

/*** s9y image manager ***/
.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    border: 1px solid #ddd;
    background-color: #efefef;
    padding: 0;
    text-align: center;
}

.serendipity_imageComment_center {
    margin: auto;
}

.serendipity_imageComment_left {
    float: left;
    margin: 0 10px 5px 0;
}

.serendipity_imageComment_right {
    float: right;
    margin: 0 0 5px 10px;
}

.serendipity_imageComment_img,
.serendipity_imageComment_img img {
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
}

.serendipity_imageComment_txt {
    border-top: 1px solid #ddd;
    margin: 0;
    padding: 1%;
    clear: both;
    font-size: 80%;
    text-align: center;
}

.serendipity_comments,
.serendipity_section_commentform { margin-top: 20px; }

#contactformpreface { margin-bottom: 20px; }

.serendipity_commentsLabel,
.serendipity_commentsValue { margin-bottom: 5px; }

.serendipity_commentsLabel { font-weight: bold; }

.serendipity_commentsValue input,
.serendipity_commentsValue select,
.serendipity_commentsValue textarea { border: 1px solid #ccc; }

.serendipity_commentsValue input,
.serendipity_commentsValue textarea { padding: 2px; }

.serendipity_commentDirection {
    margin-top: 5px;
    margin-bottom: 5px;
}

.serendipity_comment .entry {
    padding: 20px 0 10px;
}

.serendipity_comment .byline {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bold;
    color: #C2C2C2;
}

.serendipity_comment .byline a {
	color: #C2C2C2;
}

.serendipity_freeTag {
    background: #F0F0F0;
    font-size: 0.8em;
    font-weight: bold;
    margin: 0 0 20px 0;
    padding: 5px 10px;
    text-align: left;
}

.serendipity_freeTag a {
    font-size: 1em;
}

.serendipity_freeTag a:hover {
    color: #E43C15;
}

.serendipity_freeTag_related {
    background: #F0F0F0;
    font-size: 0.8em;
    font-weight: bold;
    margin: 20px 0 0 0;
    padding: 5px 10px;
    text-align: left;
}

.serendipity_freetag_taglist {
    background-color: #f0f0f0;
    border: none;
    margin: 10px;
    padding: 5px;
    text-align: justify;
}

#page ol li { margin-left: 25px; }

h2.title, h3.title { padding: 10px 10px 0 10px; }

.serendipity_search { padding: 0 10px; }

.archives_row {
    clear: left;
    float: left;
    font-size: .8em;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 10px;
}

.archives_row .archives_date,
.archives_row .archives_count,
.archives_row .archives_count_link,
.archives_row .archives_link {
    float: left;
}

.archives_row .archives_date,
.archives_row .archives_count,
.archives_row .archives_count_link { width: 90px; }

.archives_row .archives_link { width: 130px; }

dd.byline { padding-left: 0!important; }

#serendipity_categories_list li {
	padding: 5px 0!important;
	background: none!important;
	border-bottom: none!important;
}

pre, tt { font-size: .8em; }