.serendipity_center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.serendipity_msg_important { color: red; }
.serendipity_msg_notice { color: green; }

.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    border: 1px solid #ccc;
    background-color: #efefef;
    margin: 3px 5px;
    padding: 0;
    text-align: center;
}

.serendipity_imageComment_center { margin: 5px auto; }
.serendipity_imageComment_left { float: left; }
.serendipity_imageComment_right { float: right; }

.serendipity_imageComment_img,
.serendipity_imageComment_img img {
    margin: 0;
    padding: 0;
    text-align: center;
}

.boxcontent { margin-top: 3px; }

.serendipity_freeTag,
.serendipity_freeTag_related,
.serendipity_multilingualInfo {
    display: block;
    font-size: 1em;
    margin: 5px 0;
    text-align: right;
}

.serendipity_freeTag a,
.serendipity_multilingualInfo a {
    color: #875629;
    font-size: 1em;
    text-decoration: underline;
}

.serendipity_freeTag a:hover,
.serendipity_multilingualInfo a:hover {
    color: #547592;
    font-size: 1em;
    text-decoration: underline;
}

.entries_summary { list-style: none; }